{% extends "_common/base.html" %}

{% block body %}
New updates are available for the following places. Which one would you like to hear about?<br>
<a action="bypass -h npc_{{ object_id }}_chat 6">Forge of the Gods</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 7">Primeval Isle</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 8">Giant's Cave</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 9">Den of Evil</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 10">Mithril Mines</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 11">Reed Field of Innadril</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 12">Crypts of Disgrace</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 13">Stakato Nest</a><br>
<a action="bypass -h npc_{{ object_id }}_chat 14">The Chamber of Delusion</a>
{% endblock body %}