{% extends "_common/base.html" %}

{% import "_common/macros.html" as macros %}

{% block content %}
    {% include "_common/navigation.html" %}
    <br>
      {{ macros::pagination(current_page=current_page, total_pages=total_pages, has_prev=has_prev,
        prev_page=prev_page, has_next=has_next, next_page=next_page, action_prefix="admin_tp_list", show_jump_to=True) }}
    <br>
    <!-- Destinations List -->
    {% for destination in destinations %}
        <a action="bypass -h admin_tp {{ destination.0 }}" msg="{{ destination.1.name }}">
            {{ destination.1.name }}
        </a>
        <br1>
    {% endfor %}
{% endblock content %}
